/*header styles */
.header {
	background-color: #ff6060;
	text-align: center;
	padding: 20px;
	font-family: "Harlow Solid";
	font-size: 30px;
}
/*body background color */
body {
	background-image: url("background image for personal page.jpg");
}
/*footer styles */
.footer {
    padding: 20px;
    text-align: center;
	color: white;
    font-size:30px;
}
/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Card styles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
/*right column styles */
.rightcolumn {
    float: right;
    width: 25%;
    background-color: green;
    padding-left: 20px;
}
/*light column styles */
.leftcolumn {   
    float: right;
    width: 74%;
}
